<h1>New Todo</h1>


<%= form_with scope: :todo, url: todos_path, local: true do |form| %>
  <p>
    <%= form.label :list_item %><br>
    <%= form.text_field :listitem %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', todos_path %>